@page "/power"
@using Syncfusion.Blazor.Charts
@using System.Collections.ObjectModel
@using System.Timers
@using FinalProject.Services
@using FinalProject.Models
@inject RoboticaDatabase db


<h1>Power Monitor</h1>




<div style="text-align:right">
    <label for="RobotID">Robot Select</label>
    <select @onchange="ChangeRobot">
        @foreach (var robot in Robots)
        {
            <option value="@robot.RobotID">@robot.RobotName</option>
        }
    </select>
</div>

<p></p>




<div class="control-section" align="center">
    <SfChart @ref="liveChart" Title="Robot Power Consumption Over Time" Width="100%">
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="mm:ss" Title="Time (s)">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Power Consumption (w)" Minimum="0" Interval="20" Maximum="80" LabelFormat="{value}">
            <ChartAxisLineStyle Width="0" Color="transparent"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries Type="ChartSeriesType.Line" Width="2" DataSource="@DataPoints"
                         XName="@nameof(ChartDataPoint.Time)" YName="@nameof(ChartDataPoint.Power)">
                <ChartSeriesAnimation Enable="false"></ChartSeriesAnimation>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>





@code {

    // Connectivity stuff



    // Robot dropdown menu stuff

    public List<Robot> Robots { get; set; } = new List<Robot>();
    public int RobotID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Robots = await db.GetItemsAsync();
    }

    public async Task ChangeRobot(ChangeEventArgs robotID)
    {
        var robot = await db.GetItemAsync(int.Parse(robotID.Value.ToString()));
        minRobotPower = robot.RobotMinPower;
        maxRobotPower = robot.RobotMaxPower;
    }

    // Chart stuff

    private static Timer? timer;
    private SfChart? liveChart;
    private double dataLength = 10;
    public ObservableCollection<ChartDataPoint>? DataPoints;
    RetrievePower GetPower = new RetrievePower();
    public int minRobotPower = 0;
    public int maxRobotPower = 0;

    protected override void OnInitialized()
    {
        // Provide the chart with initial data during page load.
        DataPoints = new ObservableCollection<ChartDataPoint>();
        for (int i = 0; i < dataLength; i++)
            DataPoints.Add(new ChartDataPoint
            {
                Time = DateTime.Now.AddSeconds(i + 1),
                Power = GetPower.RetrieveMeasurement(minRobotPower, maxRobotPower)
            });
        // Starting live update in the chart.
        timer = new Timer(1000);
        timer.Elapsed += AddData;
        timer.AutoReset = true;
        timer.Enabled = true;
    }

    private void AddData(Object source, ElapsedEventArgs e)
    {
        if (liveChart == null)
            return;
        dataLength++;
        DataPoints.RemoveAt(0);
        DataPoints.Add(new ChartDataPoint
        {
            Time = DateTime.Now.AddSeconds(dataLength + 1),
            Power = GetPower.RetrieveMeasurement(minRobotPower, maxRobotPower)
        });
    }

    public class ChartDataPoint
    {
        public DateTime Time { get; set; }
        public float Power { get; set; }
    }









}
